
.btn-Search {
    background: url("../../assets/icon-search.png") no-repeat scroll 0 0 transparent;
    background-color: #40A8C4;
    border: none;
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    cursor: pointer;
    border-radius: 2px;
  }

  .margin-user{
    margin: 4px 50px;
  }

  .span-inline{
    margin: 4px 20px;
  }

  * {
    box-sizing: border-box;
  }
  
  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }

input[type=text]{
  padding: 3px 20px ;
}

.below-header{

  background-color: yellow;
  height: 300px;
  padding: 25px 50px 75px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}



.bg-container{
  width: 300px;
  margin: 100px 50px;
  
  justify-content: right;
}


.bg {
  background: url( '../../assets/1-1.jpg');
  /* max-width: 100%;
  height: auto; */
  max-width: 100%;
  height:300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: left;
}

.slick-slide {
  height: 320px;
  border: 4px solid #F25634;
  box-sizing: border-box;
}

.slick-slide img {
  height: 100%;
  width: 100%;
  border: 2.5px solid white;
  box-sizing: border-box;
}

